samples/Advanced_Data_Pipeline_Scheduleing_Specific_Day/Advanced_Data_Pipeline_Scheduleing_Specific_Day.json
{
    "name": "Advanced_Data_Pipeline_Scheduleing_Specific_Day",
    "objectId": "############################",
    "properties": {
        "activities": [
            {
                "name": "Get DOM",
                "type": "SetVariable",
                "dependsOn": [],
                "policy": {
                    "secureOutput": false,
                    "secureInput": false
                },
                "typeProperties": {
                    "variableName": "v_string_dom",
                    "value": {
                        "value": "@convertFromUtc(utcnow(),'Eastern Standard Time')",
                        "type": "Expression"
                    }
                }
            },
            {
                "name": "If Last Day of the Month",
                "type": "IfCondition",
                "dependsOn": [
                    {
                        "activity": "Get DOM",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "typeProperties": {
                    "expression": {
                        "value": "@equals(dayOfMonth(variables('v_string_dom'))\n    ,dayOfMonth(\n        adddays(\n            addToTime(\n                startOfMonth(\n                    variables('v_string_dom')\n                )\n            , 1\n            ,'Month'\n            )\n        ,-1\n        )\n    )\n)",
                        "type": "Expression"
                    },
                    "ifFalseActivities": [],
                    "ifTrueActivities": [
                        {
                            "name": "Invoke LDOM Pipeline",
                            "type": "ExecutePipeline",
                            "dependsOn": [],
                            "policy": {
                                "secureInput": false
                            },
                            "typeProperties": {
                                "pipeline": {
                                    "referenceName": "############################",
                                    "type": "PipelineReference"
                                },
                                "waitOnCompletion": true
                            }
                        }
                    ]
                }
            },
            {
                "name": "If First Day of the Month",
                "type": "IfCondition",
                "dependsOn": [
                    {
                        "activity": "Get DOM",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "typeProperties": {
                    "expression": {
                        "value": "@equals(dayOfMonth(variables('v_string_dom')),startOfMonth(variables('v_string_dom')))",
                        "type": "Expression"
                    },
                    "ifFalseActivities": [],
                    "ifTrueActivities": [
                        {
                            "name": "Invoke FDOM",
                            "type": "ExecutePipeline",
                            "dependsOn": [],
                            "policy": {
                                "secureInput": false
                            },
                            "typeProperties": {
                                "pipeline": {
                                    "referenceName": "############################",
                                    "type": "PipelineReference"
                                },
                                "waitOnCompletion": true
                            }
                        }
                    ]
                }
            },
            {
                "name": "Switch Specific Days",
                "type": "Switch",
                "dependsOn": [
                    {
                        "activity": "Get DOM",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "typeProperties": {
                    "on": {
                        "value": "@string(dayOfMonth(variables('v_string_dom')))",
                        "type": "Expression"
                    },
                    "cases": [
                        {
                            "value": "15",
                            "activities": [
                                {
                                    "name": "Invoke 15th of the month",
                                    "type": "ExecutePipeline",
                                    "dependsOn": [],
                                    "policy": {
                                        "secureInput": false
                                    },
                                    "typeProperties": {
                                        "pipeline": {
                                            "referenceName": "############################",
                                            "type": "PipelineReference"
                                        },
                                        "waitOnCompletion": true
                                    }
                                }
                            ]
                        },
                        {
                            "value": "9",
                            "activities": [
                                {
                                    "name": "Invoke 9th of the month",
                                    "type": "ExecutePipeline",
                                    "dependsOn": [],
                                    "policy": {
                                        "secureInput": false
                                    },
                                    "typeProperties": {
                                        "pipeline": {
                                            "referenceName": "############################",
                                            "type": "PipelineReference"
                                        },
                                        "waitOnCompletion": true
                                    }
                                }
                            ]
                        }
                    ],
                    "defaultActivities": []
                }
            }
        ],
        "variables": {
            "v_string_dom": {
                "type": "String",
                "defaultValue": "2024-07-31"
            },
            "v_boolean_today": {
                "type": "Boolean"
            },
            "v_string_dom2": {
                "type": "String"
            }
        },
        "lastModifiedByObjectId": "############################",
        "lastPublishTime": "2024-07-10T17:18:16Z"
    }
}
