monitoring/fabric-unified-admin-monitoring/src/Load_Capacity_Refreshables_E2E.DataPipeline/pipeline-content.json
{
    "properties": {
        "activities": [
            {
                "name": "Delete files",
                "type": "Delete",
                "dependsOn": [],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "typeProperties": {
                    "datasetSettings": {
                        "annotations": [],
                        "linkedService": {
                            "name": "FUAM_Lakehouse",
                            "properties": {
                                "annotations": [],
                                "type": "Lakehouse",
                                "typeProperties": {
                                    "workspaceId": "88c8d9fa-2c24-3fad-8f46-b36431c7ba1d",
                                    "artifactId": "6cff634b-88f7-3505-bed2-c03a36776a8b",
                                    "rootFolder": "Files"
                                }
                            }
                        },
                        "type": "Binary",
                        "typeProperties": {
                            "location": {
                                "type": "LakehouseLocation",
                                "folderPath": "raw/refreshables"
                            }
                        }
                    },
                    "enableLogging": false,
                    "storeSettings": {
                        "type": "LakehouseReadSettings",
                        "recursive": true,
                        "enablePartitionDiscovery": false
                    }
                }
            },
            {
                "name": "Fetch count",
                "type": "Lookup",
                "dependsOn": [
                    {
                        "activity": "Delete files",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "typeProperties": {
                    "source": {
                        "type": "RestSource",
                        "httpRequestTimeout": "00:01:40",
                        "requestInterval": "00.00:00:00.010",
                        "requestMethod": "GET",
                        "paginationRules": {
                            "supportRFC5988": "true"
                        }
                    },
                    "firstRowOnly": false,
                    "datasetSettings": {
                        "annotations": [],
                        "type": "RestResource",
                        "typeProperties": {
                            "relativeUrl": {
                                "value": "@string('capacities/refreshables?$top=1')\n",
                                "type": "Expression"
                            }
                        },
                        "schema": [],
                        "externalReferences": {
                            "connection": "09f68371-365e-3501-a70d-6291901f4ba5"
                        }
                    }
                }
            },
            {
                "name": "Set item_count",
                "type": "SetVariable",
                "dependsOn": [
                    {
                        "activity": "Fetch count",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "secureOutput": false,
                    "secureInput": false
                },
                "typeProperties": {
                    "variableName": "item_count",
                    "value": {
                        "value": "@activity('Fetch count').output.value[0]['@odata.count']",
                        "type": "Expression"
                    }
                }
            },
            {
                "name": "Set page_count",
                "type": "SetVariable",
                "dependsOn": [
                    {
                        "activity": "Set item_count",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "secureOutput": false,
                    "secureInput": false
                },
                "typeProperties": {
                    "variableName": "page_count",
                    "value": {
                        "value": "@add(div(variables('item_count'),variables('limit')),1)",
                        "type": "Expression"
                    }
                }
            },
            {
                "name": "Set page_array",
                "type": "SetVariable",
                "dependsOn": [
                    {
                        "activity": "Set page_count",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "secureOutput": false,
                    "secureInput": false
                },
                "typeProperties": {
                    "variableName": "page_array",
                    "value": {
                        "value": "@range(0,variables('page_count'))",
                        "type": "Expression"
                    }
                }
            },
            {
                "name": "ForEach Get Refreshables",
                "type": "ForEach",
                "dependsOn": [
                    {
                        "activity": "Set page_array",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "typeProperties": {
                    "items": {
                        "value": "@variables('page_array')",
                        "type": "Expression"
                    },
                    "isSequential": true,
                    "activities": [
                        {
                            "name": "Set currentSkip",
                            "type": "SetVariable",
                            "dependsOn": [],
                            "policy": {
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "typeProperties": {
                                "variableName": "currentSkip",
                                "value": {
                                    "value": "@mul(item(),variables('limit'))",
                                    "type": "Expression"
                                }
                            }
                        },
                        {
                            "name": "Copy files",
                            "type": "Copy",
                            "dependsOn": [
                                {
                                    "activity": "Set currentSkip",
                                    "dependencyConditions": [
                                        "Succeeded"
                                    ]
                                }
                            ],
                            "policy": {
                                "timeout": "0.12:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "typeProperties": {
                                "source": {
                                    "type": "RestSource",
                                    "httpRequestTimeout": "00:01:40",
                                    "requestInterval": "00.00:00:00.010",
                                    "requestMethod": "GET",
                                    "paginationRules": {
                                        "supportRFC5988": "true"
                                    },
                                    "datasetSettings": {
                                        "annotations": [],
                                        "type": "RestResource",
                                        "typeProperties": {
                                            "relativeUrl": {
                                                "value": "@concat('capacities/refreshables?$expand=capacity,group&$top=',variables('limit'),'&$skip=', variables('currentSkip'))",
                                                "type": "Expression"
                                            }
                                        },
                                        "schema": [],
                                        "externalReferences": {
                                            "connection": "09f68371-365e-3501-a70d-6291901f4ba5"
                                        }
                                    }
                                },
                                "sink": {
                                    "type": "JsonSink",
                                    "storeSettings": {
                                        "type": "LakehouseWriteSettings"
                                    },
                                    "formatSettings": {
                                        "type": "JsonWriteSettings",
                                        "filePattern": "arrayOfObjects"
                                    },
                                    "datasetSettings": {
                                        "annotations": [],
                                        "linkedService": {
                                            "name": "FUAM_Lakehouse",
                                            "properties": {
                                                "annotations": [],
                                                "type": "Lakehouse",
                                                "typeProperties": {
                                                    "workspaceId": "88c8d9fa-2c24-3fad-8f46-b36431c7ba1d",
                                                    "artifactId": "6cff634b-88f7-3505-bed2-c03a36776a8b",
                                                    "rootFolder": "Files"
                                                }
                                            }
                                        },
                                        "type": "Json",
                                        "typeProperties": {
                                            "location": {
                                                "type": "LakehouseLocation",
                                                "fileName": {
                                                    "value": "@concat(item(),'_refreshables.json')",
                                                    "type": "Expression"
                                                },
                                                "folderPath": "raw/refreshables"
                                            }
                                        },
                                        "schema": {}
                                    }
                                },
                                "enableStaging": false
                            }
                        }
                    ]
                }
            },
            {
                "name": "01_Transfer_Capacity_Refreshables_Unit",
                "type": "TridentNotebook",
                "dependsOn": [
                    {
                        "activity": "ForEach Get Refreshables",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "typeProperties": {
                    "notebookId": "1911097c-906e-3b0b-b5e0-00b2a2557eda",
                    "workspaceId": "88c8d9fa-2c24-3fad-8f46-b36431c7ba1d",
                    "parameters": {
                        "display_data": {
                            "value": {
                                "value": "@pipeline().parameters.display_data",
                                "type": "Expression"
                            },
                            "type": "bool"
                        }
                    },
                    "sessionTag": "fuam"
                }
            }
        ],
        "parameters": {
            "display_data": {
                "type": "bool",
                "defaultValue": false
            }
        },
        "variables": {
            "item_count": {
                "type": "Integer"
            },
            "limit": {
                "type": "Integer",
                "defaultValue": 1000
            },
            "page_count": {
                "type": "Integer"
            },
            "page_array": {
                "type": "Array"
            },
            "currentSkip": {
                "type": "Integer"
            }
        }
    }
}