public/ARMTemplateForFactory.json
{
    "$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "factoryName": {
            "type": "string",
            "metadata": "Data Factory name",
            "defaultValue": "adf-pug-dev"
        },
        "pug_password": {
            "type": "secureString",
            "metadata": "Secure string for 'password' of 'pug'"
        },
        "pug_properties_typeProperties_server": {
            "type": "string",
            "defaultValue": "sql-pug-dev.database.windows.net"
        },
        "pug_properties_typeProperties_database": {
            "type": "string",
            "defaultValue": "pug"
        },
        "pug_properties_typeProperties_userName": {
            "type": "string",
            "defaultValue": "pug"
        }
    },
    "variables": {
        "factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
    },
    "resources": [
        {
            "name": "[concat(parameters('factoryName'), '/PugCopy')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "activities": [
                    {
                        "name": "Copy data1",
                        "description": " Test",
                        "type": "Copy",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "0.12:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "source": {
                                "type": "SqlServerSource",
                                "queryTimeout": "02:00:00",
                                "partitionOption": "None"
                            },
                            "sink": {
                                "type": "SqlServerSink",
                                "writeBehavior": "insert",
                                "sqlWriterUseTableLock": false,
                                "tableOption": "autoCreate"
                            },
                            "enableStaging": false,
                            "translator": {
                                "type": "TabularTranslator",
                                "typeConversion": true,
                                "typeConversionSettings": {
                                    "allowDataTruncation": true,
                                    "treatBooleanAsNumber": false
                                }
                            }
                        },
                        "inputs": [
                            {
                                "referenceName": "SqlServerTable_Product",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ],
                        "outputs": [
                            {
                                "referenceName": "SqlServerTable_Product2",
                                "type": "DatasetReference",
                                "parameters": {
                                    "tableName": "Product2"
                                }
                            }
                        ]
                    }
                ],
                "policy": {
                    "elapsedTimeMetric": {}
                },
                "annotations": [],
                "lastPublishTime": "2024-10-16T15:52:39Z"
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/datasets/SqlServerTable_Product')]",
                "[concat(variables('factoryId'), '/datasets/SqlServerTable_Product2')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/feature1')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "activities": [
                    {
                        "name": "Copy data1",
                        "description": " Test",
                        "type": "Copy",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "0.12:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "source": {
                                "type": "SqlServerSource",
                                "queryTimeout": "02:00:00",
                                "partitionOption": "None"
                            },
                            "sink": {
                                "type": "SqlServerSink",
                                "writeBehavior": "insert",
                                "sqlWriterUseTableLock": false,
                                "tableOption": "autoCreate"
                            },
                            "enableStaging": false,
                            "translator": {
                                "type": "TabularTranslator",
                                "typeConversion": true,
                                "typeConversionSettings": {
                                    "allowDataTruncation": true,
                                    "treatBooleanAsNumber": false
                                }
                            }
                        },
                        "inputs": [
                            {
                                "referenceName": "SqlServerTable_Product",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ],
                        "outputs": [
                            {
                                "referenceName": "SqlServerTable_Product2",
                                "type": "DatasetReference",
                                "parameters": {
                                    "tableName": "Product2"
                                }
                            }
                        ]
                    }
                ],
                "policy": {
                    "elapsedTimeMetric": {}
                },
                "annotations": [],
                "lastPublishTime": "2024-10-16T15:52:39Z"
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/datasets/SqlServerTable_Product')]",
                "[concat(variables('factoryId'), '/datasets/SqlServerTable_Product2')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/feature2')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "activities": [
                    {
                        "name": "Copy data1",
                        "description": " Test Feature2",
                        "type": "Copy",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "0.12:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "source": {
                                "type": "SqlServerSource",
                                "queryTimeout": "02:00:00",
                                "partitionOption": "None"
                            },
                            "sink": {
                                "type": "SqlServerSink",
                                "writeBehavior": "insert",
                                "sqlWriterUseTableLock": false,
                                "tableOption": "autoCreate"
                            },
                            "enableStaging": false,
                            "translator": {
                                "type": "TabularTranslator",
                                "typeConversion": true,
                                "typeConversionSettings": {
                                    "allowDataTruncation": true,
                                    "treatBooleanAsNumber": false
                                }
                            }
                        },
                        "inputs": [
                            {
                                "referenceName": "SqlServerTable_Product",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ],
                        "outputs": [
                            {
                                "referenceName": "SqlServerTable_Product2",
                                "type": "DatasetReference",
                                "parameters": {
                                    "tableName": "Product2"
                                }
                            }
                        ]
                    },
                    {
                        "name": "Lookup1",
                        "type": "Lookup",
                        "dependsOn": [
                            {
                                "activity": "Copy data1",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "0.12:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "source": {
                                "type": "SqlServerSource",
                                "sqlReaderQuery": "SELECT COUNT(1) AS CT",
                                "queryTimeout": "02:00:00",
                                "partitionOption": "None"
                            },
                            "dataset": {
                                "referenceName": "SqlServerTable_Product",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        }
                    },
                    {
                        "name": "Get Metadata1",
                        "type": "GetMetadata",
                        "dependsOn": [
                            {
                                "activity": "Lookup1",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "0.12:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "dataset": {
                                "referenceName": "SqlServerTable_Product",
                                "type": "DatasetReference",
                                "parameters": {}
                            },
                            "fieldList": [
                                "columnCount"
                            ]
                        }
                    }
                ],
                "policy": {
                    "elapsedTimeMetric": {}
                },
                "annotations": [],
                "lastPublishTime": "2024-10-16T15:52:39Z"
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/datasets/SqlServerTable_Product')]",
                "[concat(variables('factoryId'), '/datasets/SqlServerTable_Product2')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/gbStringTest')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "activities": [
                    {
                        "name": "Set variable1",
                        "type": "SetVariable",
                        "dependsOn": [],
                        "policy": {
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "variableName": "v_gb_Test",
                            "value": {
                                "value": "@string(pipeline().globalParameters.gbStringTest)",
                                "type": "Expression"
                            }
                        }
                    }
                ],
                "policy": {
                    "elapsedTimeMetric": {}
                },
                "variables": {
                    "v_gb_Test": {
                        "type": "String"
                    }
                },
                "annotations": []
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/pipeline1')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "activities": [
                    {
                        "name": "Copy data1",
                        "description": " ",
                        "type": "Copy",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "0.12:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "source": {
                                "type": "SqlServerSource",
                                "queryTimeout": "02:00:00",
                                "partitionOption": "None"
                            },
                            "sink": {
                                "type": "SqlServerSink",
                                "writeBehavior": "insert",
                                "sqlWriterUseTableLock": false,
                                "tableOption": "autoCreate"
                            },
                            "enableStaging": false,
                            "translator": {
                                "type": "TabularTranslator",
                                "typeConversion": true,
                                "typeConversionSettings": {
                                    "allowDataTruncation": true,
                                    "treatBooleanAsNumber": false
                                }
                            }
                        },
                        "inputs": [
                            {
                                "referenceName": "SqlServerTable_Product",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ],
                        "outputs": [
                            {
                                "referenceName": "SqlServerTable_Product2",
                                "type": "DatasetReference",
                                "parameters": {
                                    "tableName": "Product2"
                                }
                            }
                        ]
                    }
                ],
                "policy": {
                    "elapsedTimeMetric": {}
                },
                "annotations": [],
                "lastPublishTime": "2024-10-16T15:52:39Z"
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/datasets/SqlServerTable_Product')]",
                "[concat(variables('factoryId'), '/datasets/SqlServerTable_Product2')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/SqlServerTable_Product')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "pug",
                    "type": "LinkedServiceReference"
                },
                "annotations": [],
                "type": "SqlServerTable",
                "schema": [
                    {
                        "name": "ProductID",
                        "type": "int",
                        "precision": 10
                    },
                    {
                        "name": "Name",
                        "type": "nvarchar"
                    },
                    {
                        "name": "ProductNumber",
                        "type": "nvarchar"
                    },
                    {
                        "name": "Color",
                        "type": "nvarchar"
                    },
                    {
                        "name": "StandardCost",
                        "type": "money",
                        "precision": 19,
                        "scale": 4
                    },
                    {
                        "name": "ListPrice",
                        "type": "money",
                        "precision": 19,
                        "scale": 4
                    },
                    {
                        "name": "Size",
                        "type": "nvarchar"
                    },
                    {
                        "name": "Weight",
                        "type": "decimal",
                        "precision": 8,
                        "scale": 2
                    },
                    {
                        "name": "ProductCategoryID",
                        "type": "int",
                        "precision": 10
                    },
                    {
                        "name": "ProductModelID",
                        "type": "int",
                        "precision": 10
                    },
                    {
                        "name": "SellStartDate",
                        "type": "datetime",
                        "precision": 23,
                        "scale": 3
                    },
                    {
                        "name": "SellEndDate",
                        "type": "datetime",
                        "precision": 23,
                        "scale": 3
                    },
                    {
                        "name": "DiscontinuedDate",
                        "type": "datetime",
                        "precision": 23,
                        "scale": 3
                    },
                    {
                        "name": "ThumbNailPhoto",
                        "type": "varbinary"
                    },
                    {
                        "name": "ThumbnailPhotoFileName",
                        "type": "nvarchar"
                    },
                    {
                        "name": "rowguid",
                        "type": "uniqueidentifier"
                    },
                    {
                        "name": "ModifiedDate",
                        "type": "datetime",
                        "precision": 23,
                        "scale": 3
                    }
                ],
                "typeProperties": {
                    "schema": "SalesLT",
                    "table": "Product"
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/pug')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/SqlServerTable_Product2')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "pug",
                    "type": "LinkedServiceReference"
                },
                "parameters": {
                    "tableName": {
                        "type": "string"
                    }
                },
                "annotations": [],
                "type": "SqlServerTable",
                "schema": [],
                "typeProperties": {
                    "schema": "SalesLT",
                    "table": {
                        "value": "@dataset().tableName",
                        "type": "Expression"
                    }
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/pug')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/pug')]",
            "type": "Microsoft.DataFactory/factories/linkedServices",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "type": "SqlServer",
                "typeProperties": {
                    "server": "[parameters('pug_properties_typeProperties_server')]",
                    "database": "[parameters('pug_properties_typeProperties_database')]",
                    "encrypt": "mandatory",
                    "trustServerCertificate": false,
                    "authenticationType": "SQL",
                    "userName": "[parameters('pug_properties_typeProperties_userName')]",
                    "password": {
                        "type": "SecureString",
                        "value": "[parameters('pug_password')]"
                    }
                }
            },
            "dependsOn": []
        }
    ]
}